/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .container{
        padding-left:10px;
        padding-right:10px;
    }
    .header_menu li a:hover{
        color:#efbe00 !important;
    }
    .header_logo {
        display: block;
        width: 100%;
        text-align: center;
    }
    .custom_toggler {
        top: 7px;
        position: absolute;
        padding:10px 0;
    }
    .my_signup_form{
        padding:10px;
    }
    .my_signup_form{
        margin-bottom:60px;
    }
    .footer_menu ul li a{
        font-size: 13px;
      }
    .fb_right_text p{
        font-size: 13px !important;
    }
    .fb_text p{
        font-size: 13px;
    }
    .header_menu li a{
        margin: 0;
        /* padding-top: 20px !important; */
        padding-bottom: 20px !important;
        padding-left: 40px !important;
        border-bottom: 1px solid #7e7e7e;
        position: relative;
    }
    .header_menu li:last-child a{
        border-bottom: none;
    }
    .header_menu li:first-child::before{
        content: "\f025";
        /* position: absolute; */
        position: relative;
        top:24px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .header_menu li:nth-child(2)::before{
        content: "\3f";
        position: relative;
        top:24px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .header_menu li:last-child::before{
        content: "\24";
        position: relative;
        top:24px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .my_signup_form {
        background: #0a0a0a !important;
    }
    .signin_forms{
        background: #0a0a0a;
    }


}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
      .header_logo {
        display: block;
        width: 100%;
        text-align: center;
    }
    .custom_toggler {
        top: 7px;
        position: absolute;
        padding:10px 0;
    }
    .header_menu li a:hover{
        color:#efbe00 !important;
    }
    .my_signup_form{
        margin-bottom:60px;
    }
    .footer_menu ul li a{
        font-size: 13px;
      }
    .fb_right_text p{
        font-size: 13px !important;
    }
    .fb_text p{
        font-size: 13px;
    }
   
    .header_menu li a{
        margin: 0;
        /* padding-top: 20px !important; */
        padding-bottom: 20px !important;
        padding-left: 40px !important;
        border-bottom: 1px solid #7e7e7e;
        position: relative;
    }
    .header_menu li:last-child a{
        border-bottom: none;
    }
    .header_menu li:first-child::before{
        content: "\f025";
        position: relative;
        top:24px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .header_menu li:nth-child(2)::before{
        content: "\3f";
        position: relative;
        top:24px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .header_menu li:last-child::before{
        content: "\24";
        position: relative;
        top:24px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .my_signup_form {
        background: #0a0a0a !important;
    }
    .signin_forms{
        background: #0a0a0a;
      }
   
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .header_menu li a:hover{
        color:#efbe00 !important;
    }
    .header_logo {
        display: block;
        width: 100%;
        text-align: center;
    }
    .custom_toggler {
        top: 7px;
        position: absolute;
        padding:10px 0;
    }
    .my_signup_form{
        margin-bottom:60px;
    }
    .footer_menu ul li a{
        font-size: 13px;
      }
    .fb_right_text p{
        font-size: 13px !important;
    }
    .fb_text p{
        font-size: 13px;
    }
    .header_menu li a{
        margin: 0;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
        padding-left: 40px !important;
        border-bottom: 1px solid #7e7e7e;
        position: relative;
    }
    .header_menu li:last-child a{
        border-bottom: none;
    }
    .header_menu li:first-child::before{
        content: "\f025";
        position: absolute;
        margin-top:20px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .header_menu li:nth-child(2)::before{
        content: "\3f";
        position: absolute;
        margin-top:20px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .header_menu li:last-child::before{
        content: "\24";
        position: absolute;
        margin-top:20px;
        font-family: "Font Awesome 6 Free";
        font-weight: 600;
        margin-right: 6px;
        color: #fff;
        opacity: .7;
    }
    .signin_forms{
        background: #0a0a0a;
      }
   
 }


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .container{
        padding-left: 0px;
        padding-right: 0px;
      }
    
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   
 }

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }